<div class="content" layout="row" layout-align="center stretch">
    <div class="page-content">
        <div class="page-content-header" layout="row" layout-align="start center">
            <span class="md-headline">Account settings</span>
        </div>
        <div class="row">
            <md-divider></md-divider>
        </div>
        <div layout="row">
            <div class="md-padding" layout="column" layout-align="start center">
                <div class="image-container" layout="column" layout-align="center center">
                    <img class="user-bar-image" ng-src="{{vm.settings.imageUri}}" alt="profile" />
                    <div class="after" layout="row" layout-align="center center" ng-click="vm.browseAttachment()" ng-disabled="!vm.settings.isActive">
                        <span>Change</span>
                    </div>
                    <input id="uploadInput" file-model="vm.browsedFile.file" type="file" aria-label class="md-input" ng-hide="true" ng-disabled="!vm.settings.isActive" />
                </div>
            </div>
            <div class="md-padding left" layout="column" flex>
                <div class="md-padding bottom" ng-if="!vm.settings.isActive">
                    <span class="description warning">Account has been deactivated. To view posts and edit settings you need to activate your account</span>
                </div>
                <div layout="row">
                    <div class="md-padding right" flex>
                        <label class="md-subhead bold" for="username">Username</label>
                        <md-input-container class="md-block" md-no-float flex>
                            <input class="light" type="text" name="username" placeholder="Username" ng-model="vm.settings.username" aria-label="settings" ng-disabled="!vm.settings.isActive" />
                        </md-input-container>
                    </div>
                    <div flex>
                        <label class="md-subhead bold" for="fullname">Full Name</label>
                        <md-input-container class="md-block" md-no-float flex>
                            <input class="light" type="text" name="fullName" placeholder="Full Name" ng-model="vm.settings.fullName" aria-label="settings" ng-disabled="!vm.settings.isActive" />
                        </md-input-container>
                    </div>
                </div>
                <div>
                    <label class="md-subhead bold" for="bio">Bio</label>
                    <md-input-container class="md-block" md-no-float flex>
                        <input class="light" type="text" name="bio" placeholder="Tell us something about yourself" ng-model="vm.settings.bio" aria-label="settings" ng-disabled="!vm.settings.isActive" />
                    </md-input-container>
                </div>
                <div>
                    <label class="md-subhead bold" for="email">Email Address</label>
                    <md-input-container class="md-block" md-no-float flex>
                        <input class="light" type="text" name="email" placeholder="username@example.com" ng-model="vm.settings.email" aria-label="settings" ng-disabled="!vm.settings.isActive" />
                    </md-input-container>
                    <md-button class="md-raised md-primary fill" ng-disabled="!vm.settings.isActive" />Change Email</md-button>
                </div>
                <div class="md-padding top">
                    <div layout="row" layout-align="start center">
                        <div class="md-padding right" flex>
                            <label class="md-subhead bold" for="oldPassword">Old Password</label>
                            <md-input-container class="md-block" md-no-float flex>
                                <input class="light" type="password" name="oldPassword" placeholder="" ng-change="vm.passwordChanged()" ng-model="vm.password.oldPassword" aria-label="settings" ng-disabled="!vm.settings.isActive" />
                            </md-input-container>
                        </div>
                        <div class="md-padding right" flex>
                            <label class="md-subhead bold" for="newPassword">New Password</label>
                            <md-input-container class="md-block" md-no-float flex>
                                <input class="light" type="password" name="newPassword" placeholder="" ng-change="vm.passwordChanged()" ng-model="vm.password.newPassword" aria-label="settings" ng-disabled="!vm.settings.isActive" />
                            </md-input-container>
                        </div>
                        <div class="md-padding right" flex>
                            <label class="md-subhead bold" for="confirmPassword">Confirm Password</label>
                            <md-input-container class="md-block" md-no-float flex>
                                <input class="light" type="password" name="confirmPassword" placeholder="" ng-change="vm.passwordChanged()" ng-model="vm.password.confirmPassword" aria-label="settings" ng-disabled="!vm.settings.isActive" />
                            </md-input-container>
                        </div>
                        <md-button class="md-raised md-primary" ng-disabled="!vm.settings.isActive || !vm.pendingChanges.password.valid">Change Password</md-button>
                    </div>
                    <p class="description danger" ng-if="vm.password.error">{{vm.password.error}}</p>
                    <p class="description">Password length should be at least 6 symbols</p>
                </div>
                <div class="md-padding top">
                    <label class="md-subhead bold" for="newPassword">Privacy</label>
                    <md-switch ng-change="vm.changePrivacy()" ng-model="vm.settings.isPrivate" aria-label="Is Private" ng-disabled="!vm.settings.isActive">
                    </md-switch>
                    <p class="description">When your account is private, only people you approve can see you photos and videos on PhotoCloud. The existing followers won't be affected</p>
                </div>
                <div class="md-padding top">
                    <md-button class="md-raised" md-colors="{background : '{{vm.settings.isActive | buttonStatusColor}}'}" ng-click="vm.invertAccountStatus()" style="width: 200px;">{{vm.settings.isActive | accountActionStatus}} account</md-button>
                </div>
            </div>
        </div>
    </div>
</div>