<div class="comments">
    <div class="link-button" ng-if="vm.post.commentsCount > 3 && vm.post.commentsCount > vm.post.comments.length">
        <a ng-click="vm.getComments(vm.post)">
        view all {{vm.post.commentsCount}} comments
    </a>
    </div>
    <div class="comment" ng-repeat="comment in vm.post.comments track by $index">
        <div class="md-block">
            <a class="comment-from" ui-sref="userfeed({username: comment.from.username})">{{comment.from.username}}</a>
            <span class="comment-text">{{comment.text}}</span>
        </div>
    </div>
</div>