<md-dialog>
    <md-dialog-content>
        <div layout="row">
            <img ng-src="{{post.attachments[0].url}}" alt="image" style="max-height: {{maxHeight}}px;max-width: {{maxWidth}}px;">
            <div layout="column" style="width:350px;padding: 0px 10px 0px 15px;">
                <div layout="row" layout-align="space-between center" style="height: 75px;">
                    <div layout="row" layout-align="center center">
                        <img class="post-profile-image" ng-src="{{post.user.imageUri}}" />
                        <span class="md-headline" style="margin: 0px 0px 0px 10px;font-weight:lighter;">{{post.user.username}}</span>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-align="space-between center" style="height: 50px;">
                    <strong>{{post.likesCount}} Likes</strong>
                    <span>{{post.created | difference}}</span>
                </div>
                <div layout="row" layout-align="space-between center" style="min-height: 50px;" ng-if="post.caption">
                    <p>
                        <strong>{{post.user.username}}</strong> <span ng-bind-html="post.caption | content"></span>
                    </p>
                </div>
                <div flex>
                    <a class="md-body-1" ng-if="post.commentsCount > 3 && post.commentsCount > post.comments.length">
                        <span class="show-comments-link" ng-click="viewMoreCommentsClick(post)">view all {{post.commentsCount}} comments</span>
                    </a>
                    <div ng-repeat="comment in post.comments">
                        <a class="md-body-2" ui-sref="userfeed({username: comment.from.username})">{{comment.from.username}}</a>
                        <span class="md-body-1" ng-bind-html="comment.text | content"></span>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-align="center stretch" ng-if="isAuthenticated">
                    <div layout="row" layout-align="start start">
                        <md-icon class="button-like" ng-class="{'liked': post.userHasLiked}" ng-click="like(post)">favorite</md-icon>
                    </div>
                    <div style="padding: 25px 0px 0px 10px;" flex>
                        <md-input-container class="md-block" md-no-float>
                            <input type="text" placeholder="Add comment" class="comment-box" ng-model="newComment.text" ng-keydown="createComment(newComment, post, $event)" />
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="end center">
                        <md-menu>
                            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon style="font-size: 30px;">more_horiz</md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="ctrl.redial($event)">
                                        <md-icon>file_download</md-icon>
                                        Download
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.redial($event)">
                                        <md-icon>link</md-icon>
                                        Copy link
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button>
                                        <md-icon></md-icon>
                                        Unsubscribe
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>