<div class="content" layout="column" layout-align="start center">
    <div layout="row" layout-align="center center" ng-if="vm.user">
        <user-info user="vm.user"></user-info>
    </div>
    <div layout="row" layout-align="center center" ng-if="vm.notFound">
        <div layout="column" layout-align="center center">
            <span class="md-headline" style="font-weight: bold;">Sorry, this page is not available</span>
            <p>The link you followed may be broken, or the page may have been removed. Go back to <a ui-sref="feed" style="color: rgb(33, 150, 243);">PhotoCloud</a></p>
        </div>
    </div>
    <div class="content-message" layout="row" layout-align="center center" ng-if="vm.user.isActive && vm.infoMessage && vm.feed.items.length == 0 && !vm.notFound">
        <span class="md-display-1">{{vm.infoMessage}}</span>
    </div>
    <div class="content-error" layout="row" layout-align="center center" ng-if="vm.errorMessage">
        <div layout="column" layout-align="center center">
            <strong>{{vm.errorMessage}}</strong>
            <div ng-if="vm.user.isActive">
                <p ng-if="vm.currentUser.isAuthenticated && vm.user.relationshipStatus === 'Requested'">You need to wait until <strong>{{vm.user.username}}</strong> accepts your relationship request</p>
                <p ng-if="vm.currentUser.isAuthenticated && vm.user.relationshipStatus !== 'Requested'">Follow <strong>{{vm.user.username}}</strong> to see all their photos</p>
                <p ng-if="!vm.currentUser.isAuthenticated">Already know <strong>{{vm.user.username}}</strong>?
                    <a class="link-primary" ui-sref="signin()">Sign in</a> to see all their photos
                </p>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" ng-if="vm.user.isActive && vm.feed.items.length > 0">
        <div class="feed-content">
            <md-grid-list md-cols-gt-md="3" md-row-height-gt-md="1:1" layout-align="center center">
                <md-grid-tile class="user-post" ng-repeat="post in vm.feed.items" ng-mouseenter="vm.showDetails(post)" ng-mouseleave="vm.hideDetails(post)" ng-click="vm.showPostDetailsDialog($event, post)" style="width: 300px; height: 300px;">
                    <div class="post-thumbnail-container" layout="row" layout-align="center stretch" ng-if="post.showDetails">
                        <div class="post-labels" layout="row" layout-align="center center" style="margin-right: 30px;">
                            <span>{{post.likesCount}}</span>
                            <md-icon class="post-labels">favorite</md-icon>
                        </div>
                        <div class="post-labels" layout="row" layout-align="center center" style="margin-left: 30px;">
                            <span>{{post.commentsCount}}</span>
                            <md-icon class="post-labels">chat_bubble</md-icon>
                        </div>
                        <div class="post-thumbnail-black" layout="row" layout-align="center center"></div>
                    </div>
                    <img class="thumbnail" ng-src="{{post.attachments[0].url}}" alt="post.attachments[0].url">
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
    <div class="md-padding" layout="column" layout-align="center center" ng-if="vm.feed.hasMoreItems">
        <md-button ng-click="vm.loadMorePosts()" ng-if="!vm.isLoadingMorePosts">Load More</md-button>
        <md-progress-circular md-mode="indeterminate" ng-if="vm.isLoadingMorePosts"></md-progress-circular>
    </div>
</div>