<!--<div class="md-padding fill" layout="row" layout-align="space-between center" style="position: absolute;">
    <h1 class="md-display-1" style="font-weight: lighter;">PhotoCloud</h1>
    <a class="link-primary" ui-sref="signup" style="font-size: 20px; font-weight: lighter;">
        Create account
    </a>
</div>

<div class="md-padding fill" layout="row" layout-align="center center" style="position: absolute;bottom:0;height: 150px;background-color: white;">
    <a class="link-primary" ui-sref="signup" style="font-size: 17px; font-weight: lighter;padding: 0px 10px 0px 10px;">
        Forgot password?
    </a>
    <a class="link-primary" ui-sref="signup" style="font-size: 17px; font-weight: lighter; padding: 0px 10px 0px 10px;">
        Terms and conditions
    </a>
</div>-->

<div class="content white" layout="row" layout-align="center center">
    <form class="form" name="signInForm" ng-submit="vm.signIn()" layout="column">
        <div class="logo" layout="column" layout-align="center center">
            <span class="md-primary-text" style="font-size: 72px; font-weight: 200;">Sign In</span>
            <span class="description" style="font-size: 17px; font-weight: lighter; padding: 50px 10px 10px 10px;">Hello there! Sign in and start managing your wonderful photos
            </span>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <md-input-container class="md-block" md-no-float flex>
                <input ng-class="{'form-invalid' : vm.account.isUsernameValid == false, 'light' : vm.account.isUsernameValid == true}" type="text" name="username" placeholder="Username" ng-model="vm.account.username" aria-label="account">
            </md-input-container>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <md-input-container class="md-block" md-no-float flex>
                <input ng-class="{'form-invalid' : vm.account.isPasswordValid == false, 'light' : vm.account.isPasswordValid == true}" type="password" name="password" placeholder="Enter your password" ng-model="vm.account.password" aria-label="account">
            </md-input-container>
        </div>
        <md-checkbox ng-model="vm.account.remember">Remember me?</md-checkbox>
        <div class="row" layout="column" layout-align="center center">
            <md-progress-circular class="md-primary" md-diameter="35px" ng-if="vm.isLoading"></md-progress-circular>
            <md-button class="md-raised md-primary fill" type="submit" ng-disabled="vm.isLoading" ng-if="!vm.isLoading">
                {{ vm.isLoading ? 'Loading' : 'Sign In' }}
            </md-button>
            <div class="error" ng-if="vm.error">
                <span>{{vm.error}}</span>
            </div>
            <md-divider class="row fill"></md-divider>
            <md-button class="md-raised button-facebook fill">Login with Facebook</md-button>
        </div>
    </form>
</div>