<div layout="column" layout-align="center center" style="padding:50px 0px 50px 0px;">
    <div layout="column" style="padding:0px 50px 25px 50px;background: white;border: 1px solid #efefef;max-width: 1000px;width:1000px;">
        <div layout="column" style="padding: 0px 0px 25px 0px;">
            <div layout="row" layout-align="space-between center" style="height: 75px;">
                <span class="md-subhead" style="font-weight: bold;color:gray;">DISCOVER PEOPLE</span>
            </div>
            <md-divider></md-divider>
        </div>

        <div ng-repeat="user in group.users" layout="row" style="height: 100px;padding-bottom: 10px;">
            <img class="post-profile-thumbnail" ng-src="{{user.imageUri}}" alt="user" ui-sref="userfeed({username : user.username})">
            <div layout="column" layout-align="space-between stretch" flex style="padding-left: 25px;">
                <div layout="row" layout-align="space-between start">
                    <div layout="column" layout-align="start start">
                        <span class="md-subhead" style="font-weight: bold;cursor:pointer;" ui-sref="userfeed({username : user.username})">{{user.username}}</span>
                        <span class="md-subhead" style="font-weight: lighter;color: #9E9E9E;">Lorem ipsum dolor sit amet consectetur adipiscing elit</span>
                        <a class="md-subhead" ui-sref="userfeed({username : user.username})" style="font-weight: lighter;font-size:14px;color:#64B5F6;">View posts</a>
                    </div>
                    <md-button class="button-bordered" ng-class="{'green' : user.relationships.outgoingStatus === 'Followed', 'orange' : user.relationships.outgoingStatus === 'Requested'}" ng-click="invertRelationshipsWithUser(user)" ng-if="currentUserId != user.id">
                        {{user.relationships.outgoingStatus | relationshipButton}}
                    </md-button>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </div>
        <div layout="column" layout-align="center center" style="padding-top: 25px;" ng-if="group.hasMoreItems">
            <md-button ng-click="loadMore()">LOAD MORE</md-button>
        </div>
    </div>
</div>