<div class="content" layout="row" layout-align="center start">
    <div class="page-content">
        <div class="page-content-header" layout="row" layout-align="start center">
            <span class="md-headline">Discover people</span>
        </div>
        <div class="row">
            <md-divider ng-if="!vm.pageService.isLoading"></md-divider>
            <md-progress-linear md-mode="indeterminate" ng-if="vm.pageService.isLoading"></md-progress-linear>
        </div>
        <div layout="column">
            <div class="user-panel" ng-repeat="user in vm.group.users">
                <div class="fill" layout="row" layout-align="space-between start">
                    <a ui-sref="userfeed({username : user.username})">
                        <img class="post-profile-thumbnail" ng-src="{{user.imageUri}}" alt="User Image">
                    </a>
                    <div class="user-panel-details" layout="column" layout-align="space-between" flex>
                        <div class="fill" layout="row" layout-align="space-between start">
                            <div class="user-details-grid" layout="column" layout-align="center start">
                                <a class="md-subhead" ui-sref="userfeed({username : user.username})">{{user.username}}</a>
                                <span class="description">{{user.bio}}</span>
                            </div>
                            <md-button class="button-bordered" ng-class="{'green' : user.relationships.outgoingStatus === 'Followed', 'orange' : user.relationships.outgoingStatus === 'Requested'}" ng-click="vm.invertRelationshipsWithUser(user)" ng-if="vm.currentUserId != user.id">{{user.relationships.outgoingStatus | relationshipButton}}</md-button>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </div>
            </div>
            <div layout="column" layout-align="center center" style="padding-top: 25px;" ng-if="vm.group.hasMoreItems">
                <md-button ng-click="vm.getUsers()">LOAD MORE</md-button>
            </div>
        </div>
    </div>
</div>